<a href="https://colab.research.google.com/github/ved079/EDS-ass/blob/main/Practical4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("imdb data.csv")
print(df)

                 Series_Title Released_Year Certificate  Runtime  \
0    The Shawshank Redemption          1994           A  142 min
1               The Godfather          1972           A  175 min
2             The Dark Knight          2008          UA  152 min
3      The Godfather: Part II          1974           A  202 min
4                12 Angry Men          1957           U   96 min
..                        ...           ...         ...      ...
995    Breakfast at Tiffany's          1961           A  115 min
996                     Giant          1956           G  201 min
997     From Here to Eternity          1953      Passed  118 min
998                  Lifeboat          1944         NaN   97 min
999              The 39 Steps          1935         NaN   86 min

                        Genre  IMDB_Rating  Meta_score              Director  \
0                       Drama          9.3        80.0        Frank Darabont
1                Crime, Drama          9.2       100.0  Francis Ford Coppola
2        Action, Crime, Drama          9.0        84.0     Christopher Nolan
3                Crime, Drama          9.0        90.0  Francis Ford Coppola
4                Crime, Drama          9.0        96.0          Sidney Lumet
..                        ...          ...         ...                   ...
995    Comedy, Drama, Romance          7.6        76.0         Blake Edwards
996            Drama, Western          7.6        84.0        George Stevens
997       Drama, Romance, War          7.6        85.0        Fred Zinnemann
998                Drama, War          7.6        78.0      Alfred Hitchcock
999  Crime, Mystery, Thriller          7.6        93.0      Alfred Hitchcock

                 Star1              Star2  No_of_Votes        Gross
0          Tim Robbins     Morgan Freeman      2343110   28,341,469
1        Marlon Brando          Al Pacino      1620367  134,966,411
2       Christian Bale       Heath Ledger      2303232  534,858,444
3            Al Pacino     Robert De Niro      1129952   57,300,000
4          Henry Fonda        Lee J. Cobb       689845    4,360,000
..                 ...                ...          ...          ...
995     Audrey Hepburn     George Peppard       166544          NaN
996   Elizabeth Taylor        Rock Hudson        34075          NaN
997     Burt Lancaster   Montgomery Clift        43374   30,500,000
998  Tallulah Bankhead        John Hodiak        26471          NaN
999       Robert Donat  Madeleine Carroll        51853          NaN

[1000 rows x 12 columns]

In [ ]:
print(df[['Series_Title','Released_Year']])

                 Series_Title Released_Year
0    The Shawshank Redemption          1994
1               The Godfather          1972
2             The Dark Knight          2008
3      The Godfather: Part II          1974
4                12 Angry Men          1957
..                        ...           ...
995    Breakfast at Tiffany's          1961
996                     Giant          1956
997     From Here to Eternity          1953
998                  Lifeboat          1944
999              The 39 Steps          1935

[1000 rows x 2 columns]

In [ ]:
df.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [ ]:
df.mean()

<ipython-input-7-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

IMDB_Rating         7.94930
Meta_score         77.97153
No_of_Votes    273692.91100
dtype: float64

In [ ]:
df.median()

<ipython-input-8-6d467abf240d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

IMDB_Rating         7.9
Meta_score         79.0
No_of_Votes    138548.5
dtype: float64

In [ ]:
df.loc[df["Meta_score"].max()]

Series_Title          Bacheha-Ye aseman
Released_Year                      1997
Certificate                          PG
Runtime                          89 min
Genre              Drama, Family, Sport
IMDB_Rating                         8.3
Meta_score                         77.0
Director                   Majid Majidi
Star1                Mohammad Amir Naji
Star2            Amir Farrokh Hashemian
No_of_Votes                       65341
Gross                           933,933
Name: 100, dtype: object

In [ ]:
df["No_of_Votes"].describe()

count    1.000000e+03
mean     2.736929e+05
std      3.273727e+05
min      2.508800e+04
25%      5.552625e+04
50%      1.385485e+05
75%      3.741612e+05
max      2.343110e+06
Name: No_of_Votes, dtype: float64

In [ ]:
df.count()

Series_Title     1000
Released_Year    1000
Certificate       899
Runtime          1000
Genre            1000
IMDB_Rating      1000
Meta_score        843
Director         1000
Star1            1000
Star2            1000
No_of_Votes      1000
Gross             831
dtype: int64

In [ ]:
print(df.loc[df['IMDB_Rating']>9])

               Series_Title Released_Year Certificate  Runtime         Genre  \
0  The Shawshank Redemption          1994           A  142 min         Drama
1             The Godfather          1972           A  175 min  Crime, Drama

   IMDB_Rating  Meta_score              Director          Star1  \
0          9.3        80.0        Frank Darabont    Tim Robbins
1          9.2       100.0  Francis Ford Coppola  Marlon Brando

            Star2  No_of_Votes        Gross
0  Morgan Freeman      2343110   28,341,469
1       Al Pacino      1620367  134,966,411

In [ ]:
df.loc[ (df['IMDB_Rating']>8) & (df['No_of_Votes'] <689845) ]

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,No_of_Votes,Gross
12,"Il buono, il brutto, il cattivo",1966,A,161 min,Western,8.8,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,688390,"6,100,000"
18,Hamilton,2020,PG-13,160 min,"Biography, Drama, History",8.6,90.0,Thomas Kail,Lin-Manuel Miranda,Phillipa Soo,55291,NaN
19,Gisaengchung,2019,A,132 min,"Comedy, Drama, Thriller",8.6,96.0,Bong Joon Ho,Kang-ho Song,Lee Sun-kyun,552778,"53,367,844"
20,Soorarai Pottru,2020,U,153 min,Drama,8.6,NaN,Sudha Kongara,Suriya,Madhavan,54995,NaN
23,Sen to Chihiro no kamikakushi,2001,U,125 min,"Animation, Adventure, Family",8.6,96.0,Hayao Miyazaki,Daveigh Chase,Suzanne Pleshette,651376,"10,055,859"
...,...,...,...,...,...,...,...,...,...,...,...,...
317,La passion de Jeanne d'Arc,1928,Passed,110 min,"Biography, Drama, History",8.1,NaN,Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,47676,"21,877"
318,The Circus,1928,Passed,72 min,"Comedy, Romance",8.1,90.0,Charles Chaplin,Charles Chaplin,Merna Kennedy,30205,NaN
319,Sunrise: A Song of Two Humans,1927,Passed,94 min,"Drama, Romance",8.1,NaN,F.W. Murnau,George O'Brien,Janet Gaynor,46865,"539,540"
320,The General,1926,Passed,67 min,"Action, Adventure, Comedy",8.1,NaN,Clyde Bruckman,Buster Keaton,Buster Keaton,81156,"1,033,895"
321,Das Cabinet des Dr. Caligari,1920,NaN,76 min,"Fantasy, Horror, Mystery",8.1,NaN,Robert Wiene,Werner Krauss,Conrad Veidt,57428,NaN

In [ ]:
print(df.iloc[::-1])

                 Series_Title Released_Year Certificate  Runtime  \
999              The 39 Steps          1935         NaN   86 min
998                  Lifeboat          1944         NaN   97 min
997     From Here to Eternity          1953      Passed  118 min
996                     Giant          1956           G  201 min
995    Breakfast at Tiffany's          1961           A  115 min
..                        ...           ...         ...      ...
4                12 Angry Men          1957           U   96 min
3      The Godfather: Part II          1974           A  202 min
2             The Dark Knight          2008          UA  152 min
1               The Godfather          1972           A  175 min
0    The Shawshank Redemption          1994           A  142 min

                        Genre  IMDB_Rating  Meta_score              Director  \
999  Crime, Mystery, Thriller          7.6        93.0      Alfred Hitchcock
998                Drama, War          7.6        78.0      Alfred Hitchcock
997       Drama, Romance, War          7.6        85.0        Fred Zinnemann
996            Drama, Western          7.6        84.0        George Stevens
995    Comedy, Drama, Romance          7.6        76.0         Blake Edwards
..                        ...          ...         ...                   ...
4                Crime, Drama          9.0        96.0          Sidney Lumet
3                Crime, Drama          9.0        90.0  Francis Ford Coppola
2        Action, Crime, Drama          9.0        84.0     Christopher Nolan
1                Crime, Drama          9.2       100.0  Francis Ford Coppola
0                       Drama          9.3        80.0        Frank Darabont

                 Star1              Star2  No_of_Votes        Gross
999       Robert Donat  Madeleine Carroll        51853          NaN
998  Tallulah Bankhead        John Hodiak        26471          NaN
997     Burt Lancaster   Montgomery Clift        43374   30,500,000
996   Elizabeth Taylor        Rock Hudson        34075          NaN
995     Audrey Hepburn     George Peppard       166544          NaN
..                 ...                ...          ...          ...
4          Henry Fonda        Lee J. Cobb       689845    4,360,000
3            Al Pacino     Robert De Niro      1129952   57,300,000
2       Christian Bale       Heath Ledger      2303232  534,858,444
1        Marlon Brando          Al Pacino      1620367  134,966,411
0          Tim Robbins     Morgan Freeman      2343110   28,341,469

[1000 rows x 12 columns]

In [ ]:
print(df.groupby('Runtime').count())

         Series_Title  Released_Year  Certificate  Genre  IMDB_Rating  \
Runtime
100 min            23             23           21     23           23
101 min            22             22           20     22           22
102 min            18             18           18     18           18
103 min            14             14           13     14           14
104 min            15             15           14     15           15
...               ...            ...          ...    ...          ...
95 min             13             13           10     13           13
96 min             17             17           13     17           17
97 min              9              9            7      9            9
98 min             11             11           10     11           11
99 min             14             14           12     14           14

         Meta_score  Director  Star1  Star2  No_of_Votes  Gross
Runtime
100 min          20        23     23     23           23     19
101 min          19        22     22     22           22     21
102 min          18        18     18     18           18     17
103 min          13        14     14     14           14     13
104 min          12        15     15     15           15     11
...             ...       ...    ...    ...          ...    ...
95 min            9        13     13     13           13     10
96 min           14        17     17     17           17     10
97 min            8         9      9      9            9      7
98 min            9        11     11     11           11     10
99 min           12        14     14     14           14     10

[140 rows x 11 columns]

In [ ]:
df.groupby('Certificate').get_group('A')

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,1620367,"134,966,411"
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,1129952,"57,300,000"
6,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,94.0,Quentin Tarantino,John Travolta,Uma Thurman,1826188,"107,928,762"
7,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,1213505,"96,898,818"
...,...,...,...,...,...,...,...,...,...,...,...,...
985,Escape from Alcatraz,1979,A,112 min,"Action, Biography, Crime",7.6,76.0,Don Siegel,Clint Eastwood,Patrick McGoohan,121731,"43,000,000"
987,Midnight Express,1978,A,121 min,"Biography, Crime, Drama",7.6,59.0,Alan Parker,Brad Davis,Irene Miracle,73662,"35,000,000"
989,The Long Goodbye,1973,A,112 min,"Comedy, Crime, Drama",7.6,87.0,Robert Altman,Elliott Gould,Nina van Pallandt,26337,"959,000"
993,Blowup,1966,A,111 min,"Drama, Mystery, Thriller",7.6,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,56513,NaN
995,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,Audrey Hepburn,George Peppard,166544,NaN

In [ ]:
df.head(20)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,1620367,"134,966,411"
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,2303232,"534,858,444"
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,1129952,"57,300,000"
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,689845,"4,360,000"
5,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,1642758,"377,845,905"
6,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,94.0,Quentin Tarantino,John Travolta,Uma Thurman,1826188,"107,928,762"
7,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,1213505,"96,898,818"
8,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,2067042,"292,576,195"
9,Fight Club,1999,A,139 min,Drama,8.8,66.0,David Fincher,Brad Pitt,Edward Norton,1854740,"37,030,102"
10,The Lord of the Rings: The Fellowship of the Ring,2001,U,178 min,"Action, Adventure, Drama",8.8,92.0,Peter Jackson,Elijah Wood,Ian McKellen,1661481,"315,544,750"
11,Forrest Gump,1994,UA,142 min,"Drama, Romance",8.8,82.0,Robert Zemeckis,Tom Hanks,Robin Wright,1809221,"330,252,182"
12,"Il buono, il brutto, il cattivo",1966,A,161 min,Western,8.8,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,688390,"6,100,000"
13,The Lord of the Rings: The Two Towers,2002,UA,179 min,"Action, Adventure, Drama",8.7,87.0,Peter Jackson,Elijah Wood,Ian McKellen,1485555,"342,551,365"
14,The Matrix,1999,A,136 min,"Action, Sci-Fi",8.7,73.0,Lana Wachowski,Lilly Wachowski,Keanu Reeves,1676426,"171,479,930"
15,Goodfellas,1990,A,146 min,"Biography, Crime, Drama",8.7,90.0,Martin Scorsese,Robert De Niro,Ray Liotta,1020727,"46,836,394"
16,Star Wars: Episode V - The Empire Strikes Back,1980,UA,124 min,"Action, Adventure, Fantasy",8.7,82.0,Irvin Kershner,Mark Hamill,Harrison Ford,1159315,"290,475,067"
17,One Flew Over the Cuckoo's Nest,1975,A,133 min,Drama,8.7,83.0,Milos Forman,Jack Nicholson,Louise Fletcher,918088,"112,000,000"
18,Hamilton,2020,PG-13,160 min,"Biography, Drama, History",8.6,90.0,Thomas Kail,Lin-Manuel Miranda,Phillipa Soo,55291,NaN
19,Gisaengchung,2019,A,132 min,"Comedy, Drama, Thriller",8.6,96.0,Bong Joon Ho,Kang-ho Song,Lee Sun-kyun,552778,"53,367,844"

In [ ]:
df.tail(20)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,No_of_Votes,Gross
980,Blood Simple,1984,A,99 min,"Crime, Drama, Thriller",7.6,82.0,Joel Coen,Ethan Coen,John Getz,87745,"2,150,000"
981,On Golden Pond,1981,UA,109 min,Drama,7.6,68.0,Mark Rydell,Katharine Hepburn,Henry Fonda,27650,"119,285,432"
982,Mad Max 2,1981,A,96 min,"Action, Adventure, Sci-Fi",7.6,77.0,George Miller,Mel Gibson,Bruce Spence,166588,"12,465,371"
983,The Warriors,1979,UA,92 min,"Action, Crime, Thriller",7.6,65.0,Walter Hill,Michael Beck,James Remar,93878,"22,490,039"
984,The Muppet Movie,1979,U,95 min,"Adventure, Comedy, Family",7.6,74.0,James Frawley,Jim Henson,Frank Oz,32802,"76,657,000"
985,Escape from Alcatraz,1979,A,112 min,"Action, Biography, Crime",7.6,76.0,Don Siegel,Clint Eastwood,Patrick McGoohan,121731,"43,000,000"
986,Watership Down,1978,U,91 min,"Animation, Adventure, Drama",7.6,64.0,Martin Rosen,John Hubley,John Hurt,33656,NaN
987,Midnight Express,1978,A,121 min,"Biography, Crime, Drama",7.6,59.0,Alan Parker,Brad Davis,Irene Miracle,73662,"35,000,000"
988,Close Encounters of the Third Kind,1977,U,138 min,"Drama, Sci-Fi",7.6,90.0,Steven Spielberg,Richard Dreyfuss,François Truffaut,184966,"132,088,635"
989,The Long Goodbye,1973,A,112 min,"Comedy, Crime, Drama",7.6,87.0,Robert Altman,Elliott Gould,Nina van Pallandt,26337,"959,000"
990,Giù la testa,1971,PG,157 min,"Drama, War, Western",7.6,77.0,Sergio Leone,Rod Steiger,James Coburn,30144,"696,690"
991,Kelly's Heroes,1970,GP,144 min,"Adventure, Comedy, War",7.6,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,45338,"1,378,435"
992,The Jungle Book,1967,U,78 min,"Animation, Adventure, Family",7.6,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,166409,"141,843,612"
993,Blowup,1966,A,111 min,"Drama, Mystery, Thriller",7.6,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,56513,NaN
994,A Hard Day's Night,1964,U,87 min,"Comedy, Music, Musical",7.6,96.0,Richard Lester,John Lennon,Paul McCartney,40351,"13,780,024"
995,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,Audrey Hepburn,George Peppard,166544,NaN
996,Giant,1956,G,201 min,"Drama, Western",7.6,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,34075,NaN
997,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,43374,"30,500,000"
998,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,26471,NaN
999,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,51853,NaN

In [ ]:
print(df.groupby('Director').count())

                     Series_Title  Released_Year  Certificate  Runtime  Genre  \
Director
Aamir Khan                      1              1            1        1      1
Aaron Sorkin                    1              1            1        1      1
Abdellatif Kechiche             1              1            1        1      1
Abhishek Chaubey                1              1            1        1      1
Abhishek Kapoor                 1              1            1        1      1
...                           ...            ...          ...      ...    ...
Zack Snyder                     2              2            2        2      2
Zaza Urushadze                  1              1            0        1      1
Zoya Akhtar                     2              2            2        2      2
Çagan Irmak                     1              1            0        1      1
Ömer Faruk Sorak                1              1            0        1      1

                     IMDB_Rating  Meta_score  Star1  Star2  No_of_Votes  Gross
Director
Aamir Khan                     1           0      1      1            1      1
Aaron Sorkin                   1           1      1      1            1      0
Abdellatif Kechiche            1           1      1      1            1      1
Abhishek Chaubey               1           0      1      1            1      0
Abhishek Kapoor                1           1      1      1            1      1
...                          ...         ...    ...    ...          ...    ...
Zack Snyder                    2           2      2      2            2      2
Zaza Urushadze                 1           1      1      1            1      1
Zoya Akhtar                    2           1      2      2            2      2
Çagan Irmak                    1           0      1      1            1      0
Ömer Faruk Sorak               1           0      1      1            1      0

[548 rows x 11 columns]

In [ ]:
df['Meta_score'].value_counts()

76.0    32
84.0    29
90.0    29
80.0    27
73.0    27
        ..
28.0     1
36.0     1
46.0     1
30.0     1
41.0     1
Name: Meta_score, Length: 63, dtype: int64

In [ ]:
[df['IMDB_Rating'].max()]

[9.3]

In [ ]:
df['Series_Title']

0      The Shawshank Redemption
1                 The Godfather
2               The Dark Knight
3        The Godfather: Part II
4                  12 Angry Men
                 ...
995      Breakfast at Tiffany's
996                       Giant
997       From Here to Eternity
998                    Lifeboat
999                The 39 Steps
Name: Series_Title, Length: 1000, dtype: object

In [ ]:
df['Star1']

0            Tim Robbins
1          Marlon Brando
2         Christian Bale
3              Al Pacino
4            Henry Fonda
             ...
995       Audrey Hepburn
996     Elizabeth Taylor
997       Burt Lancaster
998    Tallulah Bankhead
999         Robert Donat
Name: Star1, Length: 1000, dtype: object

In [ ]:
df['Star2']

0         Morgan Freeman
1              Al Pacino
2           Heath Ledger
3         Robert De Niro
4            Lee J. Cobb
             ...
995       George Peppard
996          Rock Hudson
997     Montgomery Clift
998          John Hodiak
999    Madeleine Carroll
Name: Star2, Length: 1000, dtype: object